/* 以前的vp-c-brand已弃用 */
:root {
  /* 列表悬浮和选中的颜色 */
  --vp-c-brand-1: #16a0db;
  /* 导航栏悬浮的颜色 */
  --vp-c-brand-2: #16a0db;
  /* --vp-c-brand-3: #30a46c; */
}
/* .dark {
  --vp-c-brand-1: #3dd68c;
  --vp-c-brand-2: #30a46c;
  --vp-c-brand-3: #298459;
} */

/* 文档侧边栏样式重写 */
.VPSidebarGroup,
.VPSidebarItem {
  .is-link {
    &:hover {
      color: var(--vp-c-brand);
      background: var(--vt-c-button-hover-bg);
    }
    &.has-active {
      background: rgba(66, 139, 184, 0.1);
    }
    border-radius: 6px;
    padding: 3px 0;
    .link-text,
    .text {
      padding-left: 50px;
    }
  }
}

/* 主页左上角文字变色 */
.VPNavBarTitle span {
  &:hover {
    color: rgb(135, 135, 135);
  }
}

/* // 副按钮 */
.VPButton {
  border-radius: 6px !important;
  border: 2px solid #198aba !important;

  &.alt {
    color: var(--vp-c-brand-light) !important;
    background-color: #198aba !important;
  }

  &.alt:hover {
    color: var(--vp-button-brand-text) !important;
    background-color: #16a0db !important;
  }

  &.brand {
    background-color: var(--vp-c-brand) !important;
  }

  &.brand:hover {
    background-color: var(--vp-c-brand-light) !important;
  }
}

/* // 主页小方块 */
.VPFeatures {
  /* padding: 32px;
  margin: 0 15%;
  margin-bottom: 5%; */
  /* background: linear-gradient(
    to right,
    rgba(6, 205, 255, 0.1882352941),
    rgba(223, 7, 107, 0.3)
  ); */
  border-radius: 16px;

  .item {
    padding: 16px;

    .VPFeature {
      /* border: 1px solid var(--vp-c-text-inverse-4); */
      /* background-color: transparent; */
      /* //主页小方块移动上去的样式 */
      /* &:hover {
          -webkit-animation-name: hfhover-zoom;
          animation-name: hfhover-zoom;
          -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
          -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
          -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
          color: var(--c-sub-brand-light);
        } */

      /* // 主页小方块的标题颜色 */
      .title {
        color: #16a0db;
        font-size: 1.3rem;
        margin: 15px;
      }
      /* // 主页小方块的文本颜色 */
      .details {
        color: #ff91bf;
        line-height: 1.5rem;
        font-size: 13px;
      }
    }
  }
}
